/* 
    @font-face {
      font-family: 'Sriracha', cursive;
      src: url('/assets/font/Sriracha-Regular.ttf');
      } */

    ul, li, a , h1, h2, h3, h4, h5 {
      font-family: 'Athiti', sans-serif !important; 
      
    }
  