.buster-light .topbar-filter .pagination2 {
    padding-right: 15px;
  }
  .buster-light .topbar-filter .pagination2 a.active,
  .buster-light .topbar-filter .pagination2 a:hover {
    color: #dd003f;
  }
  .topbar-filter .pagination2 {
    padding-left: 100px;
  }
  @media (max-width: 767px) {
    .topbar-filter .pagination2 {
      padding-left: 0;
      margin-top: 15px;
    }
  }
  .topbar-filter .pagination2 span {
    margin-right: 15px;
  }
  .topbar-filter .pagination2 span,
  .topbar-filter .pagination2 a {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
  }
  .topbar-filter .pagination2 a {
    padding-left: 5px;
    padding-right: 5px;
    color: #4280bf;
  }
  .topbar-filter .pagination2 a.active,
  .topbar-filter .pagination2 a:hover {
    color: #dcf836;
  }

  .buster-light .topbar-filter .pagination2 {
    padding-right: 15px;
  }
  .buster-light .topbar-filter .pagination2 a.active,
  .buster-light .topbar-filter .pagination2 a:hover {
    color: #dd003f;
  }
